@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  /* border-style: solid; */
  list-style: none;
  /*  Global reset of margin and padding to overwrite default styles */
  margin: 0;
  padding: 0;
}

body {
  background-color: #feecd7;
  color: #342018;
  font-family: "Montserrat";
}

/* Centering the page in the browser */
.container {
  width: 800px;
  margin: 0 auto;
}

.main-header {
  padding: 20px 40px;
  background-color: #b79d88;
}

.nav-link {
  color: #eddfd0;
  font-weight: bold;
  margin-right: 35px;
  margin-top: 10px;
  display: inline-block;
}

.nav-link:last-child {
  margin-right: 0;
}

.logo {
  width: 60vw;
  height: 70px;
  padding-bottom: 20px;
}

.logo > img {
  width: 100%;
  height: 100%;
  max-width: 300px;
}

h2 {
  font-size: 40px;
  margin-bottom: 20px;
  padding: 10px 10px;
}

section {
  margin: 20px;
  padding: 20px;
}

.class-link:hover,
.accessory-link:hover {
  text-decoration: none;
  font-weight: bold;
  font-size: 30px;
}

a {
  text-decoration: none;
  color: brown;
  font-size: 25px;
}

p {
  font-size: 23px;
}

.workshops,
.accessories {
  width: 100%;
  margin-bottom: 20px;
}

.class-img {
  width: 33%;
  height: auto;
}
