@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  /* border-style: solid; */
  list-style: none;
  /*  Global reset of margin and padding to overwrite default styles */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #feecd7;
  color: #342018;
  font-family: "Montserrat", "Calibri";
  /* position: relative; */
}

/* Centering the page in the browser */
.container {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}

.main-header {
  background-color: #b79d88;
  height: 70px;
  padding: 10px;
  position: sticky;
  top: 0;

  /* FLEXBOX */
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

#nav-bar {
  display: flex;
  gap: 30px;
}

.nav-link {
  color: #eddfd0;
  font-weight: bold;
  /* margin-right: 35px; */
  /* margin-top: 20px; */
  display: inline-block;
}

.logo {
  width: 180px;
  height: 70px;
  float: left;
  margin-right: 30px;
}

.logo > img {
  width: 100%;
  height: 100%;
  /* max-width: 300px; */
}

h2 {
  font-size: 40px;
  margin-bottom: 20px;
  padding: 10px 10px;
}

section {
  margin: 30px;
  padding: 20px;
}

.class-link:hover,
.accessory-link:hover {
  text-decoration: none;
  font-weight: bold;
  font-size: 33px;
}

a {
  text-decoration: none;
  color: brown;
  font-size: 30px;
}

p {
  font-size: 23px;
}

.section-container {
  /* STARTER */
  /* width: 100%; */
  margin-bottom: 20px;

  /* GRID */

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 40px;

  /* FLEXBOX */
  /* display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px; */
}

.class-img {
  width: 260px;
  height: 350px;
  margin-bottom: 10px;
}

.workshops,
.accessories {
  /* STARTER */
  /* width: 400px; */

  /* FLEXBOX */
  /* display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 15px; */
  /* flex-basis: 300px; */

  /* GRID */
  display: grid;
  gap: 15px;
  justify-items: center;
}

#contact-form {
  display: flex;
  flex-direction: column;
}

.form-row {
  font-size: 23px;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 7px;
}

.form-row > input {
  height: 30px;
  font-size: 23px;
}

.form-button > input {
  height: 30px;
  font-size: 23px;
  width: 160px;
}

ul {
  font-size: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
}

/* MEDIA QUERIES */

@media (max-width: 500px) {
  .container {
    background-color: ghostwhite;
  }
}
